* {
  /* font-family: 'Courier New', monospace;
  font-weight: bold; */
  font-family: 'Cascadia Code', sans-serif;
  font-size: 14px;
}

#menu {
  display: none;
  position: fixed;
  background-color: #545454;
  padding: 5px 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clear: both;
}

#menu a {
  color: #fff;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

#menu a:hover {
  background-color: rgb(255,255,255,0.2);
}

body {
  background-color: #0f0f0f;
  color: white;
  margin: 0px;
  overflow: hidden;
}

nav {
  background-color: #2e2e2e;
  padding-bottom: 2px;
  padding-left: 4px;
}

nav a {
  color: #fff;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

nav a:hover {
  color: #ff9e9e;
}

main {
  overflow: overlay !important;
  height: 92%;
  margin: 0px 4px;
  cursor: text;
}

pre{
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 0;
  margin-top: 14px;
}

#input {
  position: relative;
  background: none;
  color: white;
  border: none;
  outline: none;
  height: 100%;
  width: 90%;
  resize: none;
  margin-top: -2px;
  margin-left: 14px;
}

#inputForm > span {
  position: absolute;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #4a4a4a; 
  border-radius: 10px;
}

::selection {
  background: rgba(255, 255, 255, 0.7);
}